.newsDetail {
  font-family: "Arial", sans-serif;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

.newsHeader {
  margin-bottom: 20px;
}

.newsTitle {
  font-size: 24px;
  color: #333;
}

.newsTitle a {
  color: #333333;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

.newsMeta {
    color: #666666;
    font-size: 0.9em;
    margin-top: 10px;
}

.newsAuthor,
.newsDate {
  margin-right: 15px;
}

.newsRating {
    margin-bottom: 20px;
    color: #444444;
    font-weight: bold;
}

.commentsSection {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.backButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: rgb(52, 49, 49);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.backButton:hover {
  background-color: rgb(29, 28, 28);
}

.refreshButton {
  background: rgb(52, 49, 49);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.refreshButton:hover {
  background: rgb(29, 28, 28);
}

.buttonRefresh {
  background: rgb(52, 49, 49);
  color: white;
  width: 127px;
  height: 42px;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 20px;
  border: none;
}

.buttonRefresh:hover {
  background: rgb(29, 28, 28);
}
